/* ================================= */
/* RESET */
/* ================================= */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}


body{

    background:#050505;
    color:white;

    font-family:'Poppins',sans-serif;

    overflow-x:hidden;

}



.background{

position:fixed;

width:100%;
height:100%;

background:
radial-gradient(circle at top,#222,transparent),
radial-gradient(circle at bottom,#1a0000,transparent);

z-index:-1;

}




/* ================================= */
/* MENU */
/* ================================= */


.navbar{

position:fixed;

top:0;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:rgba(0,0,0,.7);

backdrop-filter:blur(15px);

z-index:1000;

border-bottom:1px solid rgba(255,255,255,.1);

}



.logo{

font-family:'Cinzel',serif;

font-size:28px;

font-weight:bold;


background:linear-gradient(
90deg,
#ffd700,
#fff,
#ff4444
);


-webkit-background-clip:text;

color:transparent;

}



.logo i{

color:#ffd700;

}



.navbar ul{

display:flex;

gap:30px;

list-style:none;

}



.navbar a{

color:white;

text-decoration:none;

font-weight:600;

transition:.3s;

}



.navbar a:hover{

color:#ffd700;

}






/* ================================= */
/* HERO */
/* ================================= */



.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;


background:

linear-gradient(
rgba(0,0,0,.65),
rgba(0,0,0,.9)
),

url("https://images.unsplash.com/photo-1521295121783-8a321d551ad2");


background-size:cover;

background-position:center;


}




.hero-content{

max-width:900px;

animation:entrada 1.5s;

}



.mini-title{

letter-spacing:5px;

color:#ddd;

}



.hero h1{

font-family:'Cinzel',serif;

font-size:100px;

}



.hero h1 span{


background:linear-gradient(
90deg,
#ffcc00,
#ff0033
);


-webkit-background-clip:text;

color:transparent;


}



.hero p{

font-size:20px;

color:#ccc;

}



.btn{


display:inline-block;

margin-top:30px;

padding:15px 40px;


border-radius:40px;


background:
linear-gradient(
45deg,
#b8860b,
#ffcc00
);


color:black;

font-weight:bold;

text-decoration:none;


transition:.4s;


}



.btn:hover{


transform:scale(1.1);

box-shadow:
0 0 30px gold;


}





/* ================================= */
/* TITULOS */
/* ================================= */


section h2{

text-align:center;

font-family:'Cinzel',serif;

font-size:45px;

margin-bottom:30px;


background:

linear-gradient(
90deg,
#fff,
#d4af37
);


-webkit-background-clip:text;

color:transparent;


}





/* ================================= */
/* SOBRE */
/* ================================= */



.sobre{

padding:100px 10%;

text-align:center;

}



.sobre p{

max-width:900px;

margin:auto;

color:#bbb;

}



.features{

display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

flex-wrap:wrap;

}



.feature-card{


background:rgba(255,255,255,.05);

padding:35px;

width:280px;


border-radius:25px;


box-shadow:

0 0 30px rgba(255,255,255,.05);


transition:.4s;


}



.feature-card:hover{


transform:translateY(-15px);


box-shadow:

0 0 40px rgba(255,215,0,.3);


}



.feature-card i{


font-size:40px;

color:#ffd700;

}





/* ================================= */
/* PAÍSES */
/* ================================= */



.destinos{

padding:100px 8%;

}



.countries{


display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:35px;


}



.country-card{


height:450px;

position:relative;

overflow:hidden;

border-radius:30px;


box-shadow:

0 20px 40px rgba(0,0,0,.7);


}



.country-card img{


width:100%;

height:100%;


object-fit:cover;


transition:.8s;


}




.country-card:hover img{


transform:scale(1.15);


}




.overlay{


position:absolute;

inset:0;


background:

linear-gradient(
transparent,
rgba(0,0,0,.9)
);


}



.country-text{


position:absolute;

bottom:35px;

left:30px;

right:30px;


}



.country-text h3{


font-family:'Cinzel',serif;

font-size:35px;


}



.country-text p{


color:#ddd;


}



.country-text a{


display:inline-block;

margin-top:15px;

color:#ffd700;

text-decoration:none;

font-weight:bold;


}








/* ================================= */
/* PÁGINAS DOS PAÍSES */
/* ================================= */



.country-section{


padding-top:100px;

}



.country-banner{


height:80vh;

position:relative;

overflow:hidden;


}



.country-banner img{


width:100%;

height:100%;

object-fit:cover;


}




.country-banner::after{


content:"";

position:absolute;

inset:0;


background:

linear-gradient(
black,
transparent,
black
);


}




.banner-content{


position:absolute;

z-index:2;

bottom:100px;

left:10%;


}



.banner-content h2{


font-size:90px;

margin:10px 0;


}



.banner-content span{


color:#ffd700;

letter-spacing:4px;


}




/* FILTROS DOS PAÍSES */



.china-filter{


position:absolute;

inset:0;

background:rgba(150,0,0,.45);


}





.japan-filter{

position:absolute;

inset:0;

background:rgba(255,80,130,.25);

}




.cabo-filter{

position:absolute;

inset:0;

background:rgba(0,120,255,.25);

}



.italy-filter{

position:absolute;

inset:0;

background:rgba(180,80,0,.25);

}




.thailand-filter{

position:absolute;

inset:0;

background:rgba(255,200,0,.25);

}






/* ================================= */
/* INFORMAÇÕES */
/* ================================= */



.country-info{

padding:80px 10%;

text-align:center;

}



.country-info p{


color:#bbb;

line-height:1.8;


}



.info-grid{


display:flex;

justify-content:center;

gap:30px;

margin-top:50px;

flex-wrap:wrap;


}



.info-box{


background:#111;

padding:30px;

width:300px;


border-radius:25px;


box-shadow:

0 0 30px rgba(255,255,255,.05);


}



.info-box i{


font-size:35px;

color:#ffd700;


}








/* ================================= */
/* CARROSSEL */
/* ================================= */



.monuments{

padding:80px 8%;


}



.carousel{


display:flex;

gap:30px;

overflow-x:auto;


scroll-behavior:smooth;


}



.monument-card{


min-width:330px;


background:#111;

border-radius:25px;

overflow:hidden;


box-shadow:

0 0 30px rgba(255,255,255,.08);


}



.monument-card img{


width:100%;

height:250px;

object-fit:cover;


}



.monument-card h3,
.monument-card p{


padding:15px;


}



.monument-card p{

color:#bbb;

}





/* ================================= */
/* QUIZ */
/* ================================= */



.quiz-section{


padding:80px 10%;

text-align:center;


}



.quiz-box{


background:#111;

padding:40px;

border-radius:30px;


max-width:700px;

margin:auto;


}



.quiz-box button{


display:block;

width:100%;

padding:15px;

margin:15px 0;


background:#222;

border:1px solid #444;

color:white;

border-radius:15px;


cursor:pointer;


transition:.3s;


}



.quiz-box button:hover{


background:#ffd700;

color:black;


}





/* ANIMAÇÃO */



@keyframes entrada{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}


}
